html {
  font-size: 16px;
}

.root {
  margin: 0rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2rem;
  max-width: 1280px;
}

.post {
  padding: 0 0 4rem;
}

.post__title {

}

.post__text {

}